// ======================================
//  Mixins
// ======================================

// Media Queries
@media ($mw $lg) {
  @mixin flexbox {
    flex-direction: row;
  }
}

// Flexbox Settings
@mixin flexbox {
  display: flex;
  flex-direction: column;
  // flex-wrap: nowrap;
}

// Grid System styles
@mixin grid {
  @include flexbox;
  color: $gray;
  border-radius: 4px;
  padding: .9rem;
  margin: .25rem;
}

// Button styles
@mixin button {
  color: $white;
  border-radius: 4px;
  padding: .9rem 40px;
  margin: .75rem .25rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border: none;
}

// Troubleshooting
@mixin red-box {
  border: 1px solid red;
}
