// ======================================
//  Variables
// ======================================

// Fonts

// Breakpoints

// Colors
$gray: #808080;
$teal: #58e1c1;
$blue: #5ddffc;
$white: #ffffff;
