// ======================================
//  Button Styles
// ======================================

.btn--default {
  color: $white;
  background-color: $blue;
  border-radius: 4px;
  padding: .9rem 40px;
  margin: .75rem .5rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border: none;
  // width: 90%;
  // align-self: stretch;
}

.btn--success {
  color: $white;
  background-color: $green;
  border-radius: 4px;
  padding: .9rem 40px;
  margin: .75rem .5rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border: none;
  // width: 100%;
  align-self: stretch;
}

.btn--error {
  color: $white;
  background-color: $berry;
  border-radius: 4px;
  padding: .9rem 40px;
  margin: .75rem .5rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border: none;
  // width: 100%;
  align-self: stretch;
}

.btn--warning {
  color: $white;
  background-color: $red;
  border-radius: 4px;
  padding: .9rem 40px;
  margin: .75rem .5rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border: none;
  // width: 100%;
  align-self: stretch;
}

.btn--info {
  color: $white;
  background-color: $purple;
  border-radius: 4px;
  padding: .9rem 40px;
  margin: .75rem .5rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border: none;
  // width: 100%;
  align-self: stretch;
}

.theme__colors {

}
