// ======================================
//  Form Styles
// ======================================

.form {
  @include flexbox;
  @media ($mw $lg) {
    width: 33%;
  }
}

.form__label--hidden {
  display: none;
}

.form__input {
  padding: .75rem;
  margin: 1rem 1.5rem .75rem;
  border-style: none;
  border-bottom: 5px solid $teal;
  font-size: .9rem;
  font-weight: bold;
  @media ($mw $lg) {
    font-size: 1rem;
  }
}
