// ======================================
//  Grid Styles
// ======================================

.container {
  width: 90%;
  margin: 0 auto;
}
.grid__row {
  display: flex;
  flex-direction: column;
  // flex-wrap: nowrap;
  // align-items: stretch;
  border: 1px solid red;
  align-items: stretch;
  margin: 2rem 0;
}
.grid__col--2 {

}

.grid__col--3 {
  display: flex;
  flex-direction: column;
  color: $gray;
  background-color: $purple-light;
  border-radius: 4px;
  padding: .9rem;
  margin: .25rem .5rem;
  font-weight: bold;
  align-items: center;
  text-align: left;
}

.grid__col--4 {
  display: flex;
  flex-direction: column;
  color: $gray;
  background-color: $blue;
  border-radius: 4px;
  padding: .9rem;
  margin: .25rem .5rem;
  font-weight: bold;
  align-self: stretch;
}

.grid__col--5 {
  display: flex;
  flex-direction: column;
  color: $gray;
  background-color: $green-light;
  border-radius: 4px;
  padding: .9rem;
  margin: .25rem .5rem;
  font-weight: bold;
  align-self: stretch;
}

.grid__col--6 {
  display: flex;
  flex-direction: column;
  color: $gray;
  background-color: $blue-dark;
  border-radius: 4px;
  padding: .9rem;
  margin: .25rem .5rem;
  font-weight: bold;
  align-self: stretch;
 }

.grid__col--7 {
  display: flex;
  flex-direction: column;
  color: $gray;
  background-color: $berry-light;
  border-radius: 4px;
  padding: .9rem;
  margin: .25rem .5rem;
  font-weight: bold;
  align-self: stretch;
}

.grid__col--8 {
  display: flex;
  flex-direction: column;
  color: $gray;
  background-color: $red-light;
  border-radius: 4px;
  padding: .9rem;
  margin: .25rem .5rem;
  font-weight: bold;
  align-self: stretch;
}

.grid__col--9 {
  // border: 1px solid red;
}

.grid__col--10 {

}

.grid__col--11 {

}

.grid__col--12 {
  display: flex;
  flex-direction: column;
  color: $gray;
  background-color: $teal;
  border-radius: 4px;
  padding: .9rem;
  margin: .75rem .5rem;
  font-weight: bold;
  align-self: stretch;
}

.centered {

}

.theme__colors {

}
