// ======================================
//  Grid Styles
// ======================================

.container {
  width: 90%;
  margin: 0 auto;
}
.grid__row {
  // display: flex;
  // flex-direction: column;
  // align-items: stretch;
  // border: 1px solid red;
}
.grid__col--2 {

}

.grid__col--3 {
  // border: 1px solid red;
  text-align: center;
}

.grid__col--4 {

}

.grid__col--5 {

}

.grid__col--6 {

}

.grid__col--7 {

}

.grid__col--8 {

}

.grid__col--9 {
  // border: 1px solid red;
}

.grid__col--10 {

}

.grid__col--11 {

}

.grid__col--12 {

}

.centered {

}

.theme__colors {

}
