// ======================================
//  Image Styles
// ======================================

.img--logo {
  padding: 16px 0;
}

.img--frame {
  width: 100%;
  padding: 1rem;
  border: 1px solid $gray-light;
}

.img--avatar {
  align-self: center;
  margin: .5rem;
}
