// ======================================
//  Image Styles
// ======================================

.img--logo {
  // border: 1px solid red;
  padding: 16px 0;
  // align-self: center;
  // flex-grow: 1;
}

.img--frame {
  width: 100%;
  // margin: 1rem;
  padding: 1rem;
  border: 1px solid $gray-light;
  // align-self: center;
}

.img--avatar {
  padding: 1rem;
  // border: 1px solid red;
  align-self: center;
  // margin: 0 auto;
}
