// ======================================
//  Navigation Styles
// ======================================

.nav__item {
  // border: 1px solid red;
  padding: 16px 0;
  margin: 10px 0;
  text-align: center;
  // flex-grow: 1;
  & a {
    text-decoration: none;
    &:link {
      color: $gray;
    }
    &:visited {
      color: $blue;
    }
  }
  &:hover {
    background-color: $teal;
    border-radius: 5px;
    & a {
      color: $white;
    }
  }
}
