// ======================================
//  Typography Styles
// ======================================

.container {
  font-family: 'Roboto', Arial, sans-serif;
  color: $gray;
}

.link {
  text-decoration: none;
  color: $blue;
  font-weight: bold;
}

.blockquote {

}

.headline--primary {
  color: $teal;
  font-weight: 900;
  margin-left: 30px;
}

.headline--secondary {
  font-size: 1.1rem;
  font-weight: 100;
}
