// ======================================
//  Typography Styles
// ======================================

.container {
  font-family: $font-stack;
  color: $gray;
}

.link {
  text-decoration: none;
  color: $blue;
  font-weight: bold;
  @include red-box;
}

.blockquote {
  font-size: 1.5rem;
  line-height: 2rem;
  font-style: italic;
  padding: 0 1rem;
  margin: 1.5rem 1.75rem;
  border-radius: 6px;
  border-left: 8px solid $teal;
}

.headline--primary {
  color: $teal;
  font-weight: 700;
  padding: 10px;
  margin-left: 2rem;
}

.headline--secondary {
  color: $gray-light;
  font-size: 1.1rem;
  font-weight: 100;
  margin: 2rem 1rem;
}
